<h1>priceshelf</h1>


<p>Compare prices across e-commerce sites in Ghana.</p>

<form>
    <input type="text" placeholder="eg. vans, golf 3, Nexus 5, etc." autofocus required>
    <input type="checkbox" id="tonaton" name="ps_shops" value="tonaton_search"><label for="tonaton">Tonaton</label>
    <input type="checkbox" id="olx" name="ps_shops" value="olx_search"><label for="olx">OLX</label>
    <input type="checkbox" id="kaymu" name="ps_shops" value="kaymu_search"><label for="kaymu">Kaymu</label>

    <button>Search</button>
</form>